
Etapa 0/cmake-build-debug/CMakeFiles/

Etapa 0/cmake-build-debug/

Codigo/cmake-build-debug/

Codigo/\.idea/

Scanner/\.idea/

Scanner/cmake-build-debug/

Grafico y docu/Elementos del lenguaje/~\$Familias-y-errores-del-lenguaje\.xlsx
